database-connector/src/main/app/insert-operation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="insert-operationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/insert" doc:name="HTTP"/>
        <logger message="insert operation executed." level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="empid"><![CDATA[%dw 1.0
%output application/java
---
payload.empid as :number]]></dw:set-variable>
            <dw:set-variable variableName="empFirstName"><![CDATA[%dw 1.0
%output application/java
---
payload.empFirstName]]></dw:set-variable>
            <dw:set-variable variableName="empMiddleName"><![CDATA[%dw 1.0
%output application/java
---
payload.empMiddleName]]></dw:set-variable>
            <dw:set-variable variableName="empLastName"><![CDATA[%dw 1.0
%output application/java
---
payload.empLastName]]></dw:set-variable>
            <dw:set-variable variableName="empsal"><![CDATA[%dw 1.0
%output application/java
---
payload.empsal as :number]]></dw:set-variable>
            <dw:set-variable variableName="empAddress"><![CDATA[%dw 1.0
%output application/java
---
payload.empAddress]]></dw:set-variable>
            <dw:set-variable variableName="empAge"><![CDATA[%dw 1.0
%output application/java
---
payload.empAge as :number]]></dw:set-variable>
        </dw:transform-message>
        <flow-ref name="createEmployee" doc:name="createEmployee"/>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---

{
	"message": "success" when payload[0] >= 1 otherwise "No record created"
}]]></dw:set-payload>
        </dw:transform-message>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception.causedBy(java.sql.SQLIntegrityConstraintViolationException)]" logException="false" doc:name="Catch Exception Strategy">
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"errorCode": 2019,
	"message":"Employee already exist"
}]]></dw:set-payload>
                </dw:transform-message>
            </catch-exception-strategy>
            <catch-exception-strategy doc:name="Catch Exception Strategy"/>
        </choice-exception-strategy>
    </flow>
</mule>
