database-connector/src/main/app/select-operation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:oracle-config name="Oracle_Configuration" host="${oracle.host}" port="${oracle.port}" instance="${oracle.instance}" user="${oracle.username}" password="${oracle.password}" doc:name="Oracle Configuration"/>
    <flow name="select-operationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/select" doc:name="HTTP"/>
        <logger message="select operation started" level="INFO" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object"/>
        <set-variable variableName="empid" value="#[Integer.parseInt(payload.empid)]" doc:name="empid"/>
        <flow-ref name="selectEmpDetailsByEmpID" doc:name="selectEmpDetailsByEmpID"/>
        <dw:transform-message doc:name="setPayload">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload[0] when ((sizeOf payload) > 0) otherwise
{
	"message": "No record found"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="select-operationFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/employees" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="#[&quot;it going ot faue data&quot;]" level="INFO" doc:name="Logger"/>

        <db:select config-ref="Oracle_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from emp]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
