database-connector/src/main/app/stored-procedure-operation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="stored-procedure-operationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/procedure" allowedMethods="PUT" doc:name="HTTP"/>
        <logger message="stored procedure operation flow starts!" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="empid"><![CDATA[%dw 1.0
%output application/java
---
payload.empid as :number]]></dw:set-variable>
            <dw:set-variable variableName="increment"><![CDATA[%dw 1.0
%output application/java
---
payload.increment as :number]]></dw:set-variable>
        </dw:transform-message>
        <db:stored-procedure config-ref="Oracle_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[{ call salary_increment( :empId , :increment , :newSal ) }]]></db:parameterized-query>
            <db:in-param name="empId" type="INTEGER" value="#[flowVars.empid]"/>
            <db:in-param name="increment" type="FLOAT" value="#[flowVars.increment]"/>
            <db:out-param name="newSal" type="FLOAT"/>
        </db:stored-procedure>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"message": "Now your salary is: " ++ payload.newSal
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
