database-connector/target/classes/bulk-operation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="bulk-oprestionFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/bulk" doc:name="HTTP"/>
        <logger message="#[&quot;request is comming be ready&quot;]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="empid"><![CDATA[%dw 1.0
%output application/java
---
payload.empid]]></dw:set-variable>
            <dw:set-variable variableName="newid"><![CDATA[%dw 1.0
%output application/java
---
payload.newid as :number]]></dw:set-variable>
        </dw:transform-message>
        <flow-ref name="selectEmpDetailsByEmpID" doc:name="Flow Reference"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload[0]]]></dw:set-payload>
        </dw:transform-message>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="empid"><![CDATA[%dw 1.0
%output application/java
---
flowVars.newid]]></dw:set-variable>
            <dw:set-variable variableName="empFirstName"><![CDATA[%dw 1.0
%output application/java
---
payload.EMP_FIRST_NAME]]></dw:set-variable>
            <dw:set-variable variableName="empMiddleName"><![CDATA[%dw 1.0
%output application/java
---
payload.EMP_MIDDLE_NAME]]></dw:set-variable>
            <dw:set-variable variableName="empLastName"><![CDATA[%dw 1.0
%output application/java
---
payload.EMP_LAST_NAME]]></dw:set-variable>
            <dw:set-variable variableName="empsal"><![CDATA[%dw 1.0
%output application/java
---
payload.EMPSAL as :number]]></dw:set-variable>
            <dw:set-variable variableName="empAddress"><![CDATA[%dw 1.0
%output application/java
---
payload.EMPADDRESS]]></dw:set-variable>
            <dw:set-variable variableName="empAge"><![CDATA[%dw 1.0
%output application/java
---
payload.EMPAGE as :number]]></dw:set-variable>
        </dw:transform-message>
        <logger message="#[&quot;The newid is:------------------------&quot; + flowVars.newid]" level="INFO" doc:name="Logger"/>
        <db:bulk-execute config-ref="Oracle_Configuration" doc:name="Database"><![CDATA[insert into emp values(#[flowVars.empid] , #[flowVars.empFirstName] , #[flowVars.empMiddleName] , #[flowVars.empLastName] , #[flowVars.empsal] , #[flowVars.empAddress] , #[flowVars.empAge] )
]]></db:bulk-execute>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
