database-connector/target/classes/update-operation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <validation:config name="Validation_Configuration" doc:name="Validation Configuration"/>
    <validation:config name="Validation_Configuration1" doc:name="Validation Configuration"/>
    <flow name="update-operationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/update" doc:name="HTTP"/>
        <logger message="update operation started" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="setEmpId&amp;Increment">
            <dw:set-variable variableName="empid"><![CDATA[%dw 1.0
%output application/java
---
payload.empid as :number]]></dw:set-variable>
            <dw:set-variable variableName="increment"><![CDATA[%dw 1.0
%output application/java
---
payload.increment as :number]]></dw:set-variable>
        </dw:transform-message>
        <flow-ref name="selectEmpDetailsByEmpID" doc:name="selectEmpDetailsByEmpID"/>
        <dw:transform-message doc:name="setIsRecordExists">
            <dw:set-variable variableName="isRecordExists"><![CDATA[%dw 1.0
%output application/java
---
true when (sizeOf payload) > 0 otherwise false]]></dw:set-variable>
        </dw:transform-message>
        <validation:is-true config-ref="Validation_Configuration1" expression="#[flowVars.isRecordExists]" doc:name="Validation"/>
        <dw:transform-message doc:name="setIncremetedSalAsPayload">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload[0].EMPSAL * ((100 + flowVars.increment) / 100)]]></dw:set-payload>
        </dw:transform-message>
        <db:update config-ref="Oracle_Configuration" doc:name="updateSal">
            <db:parameterized-query><![CDATA[update emp set empsal = #[payload] where empid = #[flowVars.empid]]]></db:parameterized-query>
        </db:update>
        <dw:transform-message doc:name="setSuccessPayload">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---

{
	"message": "success" when payload[0] >= 1 otherwise "No record updated"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
