jms-connector/src/main/app/jms-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="vm-connectorFlow">
        <jms:inbound-endpoint queue="Salim" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="#[&quot;Consumed message:             &quot; + message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
        	<dw:input-payload mimeType="application/json"/>
            <dw:set-variable variableName="empid"><![CDATA[%dw 1.0
%output application/java
---
payload.empid as :number]]></dw:set-variable>
            <dw:set-variable variableName="empFirstName"><![CDATA[%dw 1.0
%output application/java
---
payload.empFirstName]]></dw:set-variable>
            <dw:set-variable variableName="empMiddleName"><![CDATA[%dw 1.0
%output application/java
---
payload.empMiddleName]]></dw:set-variable>
            <dw:set-variable variableName="empLastName"><![CDATA[%dw 1.0
%output application/java
---
payload.empLastName]]></dw:set-variable>
            <dw:set-variable variableName="empsal"><![CDATA[%dw 1.0
%output application/java
---
payload.empsal as :number]]></dw:set-variable>
            <dw:set-variable variableName="empAddress"><![CDATA[%dw 1.0
%output application/java
---
payload.empAddress]]></dw:set-variable>
            <dw:set-variable variableName="empAge"><![CDATA[%dw 1.0
%output application/java
---
payload.empAge as :number]]></dw:set-variable>
        </dw:transform-message>
        <db:insert config-ref="Oracle_Configuration" doc:name="createEmployee">
            <db:parameterized-query><![CDATA[insert into emp values(#[flowVars.empid] , #[flowVars.empFirstName] , #[flowVars.empMiddleName] , #[flowVars.empLastName] , #[flowVars.empsal] , #[flowVars.empAddress] , #[flowVars.empAge] )]]></db:parameterized-query>
        </db:insert>
        <logger message="#[message.payloadAs(java.lang.String) == &quot;1&quot; ? &quot;success&quot; : &quot;Failed&quot;]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---

{
	"message": "success" when payload[0] >= 1 otherwise "No record created"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="publish-to-activeMQ">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/publish" doc:name="HTTP"/>
        <logger message="publish-to-activeMQ started #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <jms:outbound-endpoint queue="Salim" connector-ref="Active_MQ" doc:name="JMS"/>
        <set-payload value="#[&quot;Message written to ActiveMQ&quot;]" doc:name="Set Payload"/>
    </flow>
    <flow name="vm-connectorFlow1">
        <jms:inbound-endpoint topic="Sonu" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="topic1" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="vm-connectorFlow2">
        <jms:inbound-endpoint topic="Sonu" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="topic2" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
