ftp-connector/src/main/app/ftp-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="ftp-connectorFlow">
        <ftp:inbound-endpoint host="localhost" port="21" path="in" user="salim" password="salim" passive="true" responseTimeout="10000" doc:name="FTP"/>
        <logger message="FTP starts." level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="b50cdf10-1040-4da7-bf78-21fc2c336155">
            <dw:input-payload doc:sample="C:\Users\salim\Documents\sonu.csv" mimeType="application/csv"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	details: {
		members @(count: sizeOf payload ): {
			((payload map ((payload01 , indexOfPayload01) -> {
				member: {
					name: payload01.Name,
					age: payload01.age as :number,
					address: payload01.address,
					salary: payload01.salary as :number
				}
			})))
		}
	}
}

]]></dw:set-payload>
        </dw:transform-message>
        <ftp:outbound-endpoint host="localhost" port="21" passive="true" responseTimeout="10000" doc:name="FTP" password="salim" user="salim" outputPattern="#[&quot;members_&quot; + server.dateTime.format('YYYYmmDDHHMMss') + &quot;.xml&quot;]" path="out"/>
    </flow>
</mule>
